.section {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
  min-height: 100vh;
}

.right {
  width: 50%;
}

.outer {
  width: 57em;
  background-color: pink;
}

.innner {
  background-color: aqua;
}
