.sub_nav_flex {
  display: flex;
  /* background-color: grey; */
  list-style: none;
  justify-content: center;

  margin-bottom: 2.5em;
  margin-top: 1.5em;

  overflow: hidden;
  backface-visibility: hidden;
}

.sub_nav_flex li {
  font-size: 0.85rem;
  font-family: "Open Sans";
  font-weight: 700;
  margin-right: 3em;
  /* background-color: pink; */
  padding: 0.5em 0em;

  border-bottom: 0.15em solid #f7f7f7;
  transition: all 0.23s ease-in-out;

  overflow: hidden;
  backface-visibility: hidden;
}

.sub_nav_flex li:hover {
  cursor: pointer;
}

/* ifram styles */

.iframe_container {
  position: relative;
  max-width: 100%;
  /* padding: 30%; */
  position: relative;
  /* max-width: 50%;
  height: 21em; */

  margin: 0 auto;

  border: 0.31em outset #c0c0c0;
}

.video_display_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
