.background {
  padding: 7em 0;
}

.main_container {
  width: 75%;
  margin: 0 auto;
  /* background-color: aqua; */
}

.section_1_flex {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.section_1_part_1,
.section_1_part_2 {
  /* background-color: pink; */

  padding: 3em;
  /* min-height: 15em; */
}

.section_1_part_1 {
  width: 30%;
  text-align: center;
  background-color: #f6efcc;
  align-items: center;
}
.section_1_part_1 img {
  /* padding: 1em; */
  width: 5.5em;
  /* height: 100%; */
  object-fit: cover;
}

.section_1_part_2 {
  padding: 0 0 0 1em;
  background-color: #ffffff;
  width: 70%;
  /* flex: 2; */
}

.title {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
