.background {
  padding: 5.5em 0;

  /* background-color: #f7f7f7; */
}
.aa {
  width: 86%;
  border-radius: 1.7em;
  padding: 0.3em 0;
  background-color: aqua;
  margin: 0 auto;
  background-image: linear-gradient(150deg, #223c63 50%, #e67112 50%);

  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.main_container {
  /* width: 83%; */
  width: 99%;
  /* border-image: linear-gradient(135deg, #223c63 50%, #e67112 50%); */

  /*  */

  /*  */

  margin: 0 auto;
  padding: 1.5em 3em 5em 3em;
  /* background-color: aqua; */
  background-color: #f7f7f7;

  border-radius: 1.5em;
  /* border: 0.3em outset #c0c0c0; */
  /* border: 0.3em outset #223c63; */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); */
}

.section_1_flex {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2.1em;
  align-items: center;
}

.section_1_part_1,
.section_1_part_2 {
  /* background-color: pink; */

  padding: 3em;
  /* min-height: 15em; */
}

/* part 1 */
.section_1_part_1 {
  /* min-width: 35%; */
  min-width: 23em;
  /*  */
  position: relative;
  min-height: 13em;

  text-align: center;

  align-items: center;

  border-radius: 1.5em;
  border: 0.21em outset #c0c0c0;
}
.section_1_part_1 image {
  position: absolute;
  width: 6.3em;

  /* top: 50%;
  left: 50%;

  transform: translate(-50%, -50%); */
  /*  */
  /* width: 5.5em; */
  /* height: 100%; */
  object-fit: cover;
}

/* part 2 */
.section_1_part_2_small_info_flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.section_1_part_2 {
  padding: 0 0 0 2.7em;
  /* background-color: #ffffff; */
  width: 65%;

  /* flex: 2; */
}

.title {
  /* background-color: red; */
  padding: 0;
  margin: 0;
  color: #666;
  font-size: 0.85em;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.description {
  /* margin: 0.5em 0 21% 0; */
  margin: 0.5em 0 0.9em 0;
  font-family: "Poppins", sans-serif;

  font-size: 0.9em;
  font-weight: 600;
  /* padding: 0.2em 0 0.5em 0; */

  /* background-color: teal; */
  color: black;
}

.section_1_part_2_sub_flex {
  justify-content: space-between;
  display: flex;
}

.download_btn {
  /* background-color: #e67112; */
  height: 10%;
  background-color: black;
  border: 0.1em solid black;
  border-radius: 0.7em;
  padding: 0.7em 1.7em;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;

  transition: all 0.25s ease-in-out;
}
.download_btn button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.download_btn:hover {
  background-color: #fff;
  color: black;
}

.download_btn_mobile {
  display: none;
}

/* 
*************************************************************
*************************************************************
*************************************************************

Media Queries

*************************************************************
*************************************************************
*************************************************************

*/
/* @media (max-width: 673px) { */

@media (max-width: 524px) {
  .background {
    /* padding: 5.5em 0; */
  }
  .aa {
    width: 100%;
  }
  .main_container {
    width: 100%;
  }
  .section_1_flex {
    flex-direction: column;
  }
  .section_1_part_1 {
    min-width: 100%;
    /* min-width: 17em; */
  }
  .section_1_part_2 {
    width: 100%;
    padding: 1.5em 0 0 0.7em;
  }

  /* btns */

  .download_btn_desktop {
    display: none;
  }
  .download_btn_mobile {
    margin: 0 0 3em 0.7em;
    display: block;
  }
}

@media (min-width: 525px) and (max-width: 792px) {
  .section_1_flex {
    flex-direction: column;
  }
  .section_1_part_1 {
    width: 85%;
  }

  .section_1_part_2 {
    width: 100%;
    padding-top: 1.9em;
  }

  /* btns */
  .download_btn_desktop {
    display: none;
  }
  .download_btn_mobile {
    margin: 0 0 3em 3em;
    display: block;
  }
}
@media (min-width: 793px) and (max-width: 943px) {
  .section_1_part_2_small_info_flex {
    justify-content: center;
  }

  .download_btn_desktop {
    display: none;
  }
  .download_btn_mobile {
    margin: 0 0 3em 0.5em;
    display: block;
  }

  /* .section_1_part_1 {
    width: 100%;
  } */
}
