.background {
  padding: 7em 0;
}

.main_container {
  width: 75%;
  margin: 0 auto;
  background-color: aqua;
}

.section_1_flex {
  display: flex;
  justify-content: space-evenly;
}

.section_1_part_1,
.section_1_part_2,
.section_1_part_3 {
  width: 50%;
  padding: 1em;
}

.section_1_part_1 img {
  width: 100%;
}
