.projects_bg {
  /* background-image: url("/projects_bg.jpg"); */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

/* box design no the left */

.content_flex {
  width: 90%;
  margin: 0 auto;
  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  position: relative;
  width: 50%;

  padding: 11em 0;

  /* border: 1px solid red; */
  position: relative;
  /* background-color: purple; */
}

.outer_box_design {
  border-radius: 5em;

  /* width: 70%; */
  width: 24.55rem;
  height: 80%;
  /* height: 21em; */

  background-color: #e67112;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 0.5em outset #c0c0c0;
  box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    inset 5px 5px 8px rgba(0, 0, 0, 0.5);
}
.inner_box_design {
  border-radius: 3em;
  width: 60%;
  height: 50%;
  background-color: #e4e2de;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 0.5em outset #c0c0c0;
  box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    outset 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.right {
  /* background-color: green; */
  width: 50%;
  /* padding: 0 3em 0 0; */
}
.section_project_intro_text_box {
}

.title {
  font-size: 2.3rem;
  /* font-family: "Poppins"; */
  font-family: "Open Sans";
  /* color: black; */
  opacity: 0.85;
  /* font-family: "Arial "; */
  /* font-family: "Arial Narrow Black"; */
  font-weight: 900;
}
.dis {
  /* color: #fdf2e9; */
  font-size: 1.1rem;
  /* font-family: "Rubik"; */
  font-family: "Open Sans";
  line-height: 1.6;
  /* font-weight: 500; */
}

.platform_icons {
  background-color: pink;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  /* justify-content: baseline; */

  align-items: center;
}

/* 
*******************************************************************************************
*******************************************************************************************
*******************************************************************************************
MEDIA QUERIES 
 */

/* @media (max-width: 420px) { */
@media (max-width: 420px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .content_flex {
    flex-direction: column-reverse;
  }
  .outer_box_design {
    border-radius: 3.5em;
    width: 80%;
    height: 55%;
  }
  .inner_box_design {
    border-radius: 2em;
    width: 55%;
  }
}
@media (min-width: 421px) and (max-width: 768px) {
  .left {
    width: 70%;
    margin: 0 auto;
  }
  .right {
    width: 100%;
  }
  .content_flex {
    flex-direction: column-reverse;
  }
  .outer_box_design {
    border-radius: 3.5em;
    width: 80%;
    height: 55%;
  }
  .inner_box_design {
    border-radius: 2em;
    width: 55%;
  }
}
@media (min-width: 769px) and (max-width: 914px) {
  .left {
    width: 55%;
    margin: 0 auto;
  }
  .right {
    width: 100%;
  }
  .content_flex {
    flex-direction: column-reverse;
  }
  .outer_box_design {
    width: 85%;
    height: 70%;
  }
  .inner_box_design {
    border-radius: 2em;
    width: 55%;
  }
}

@media (min-width: 915px) and (max-width: 999px) {
  /* .content_flex {
    flex-direction: column-reverse;
  } */
  /* .left {
    width: 100%;
    height: 19em;
  } */
  .right {
    padding: 0 1em 0 2.1em;
  }
  .outer_box_design {
    width: 85%;
    height: 70%;
  }
  .inner_box_design {
    border-radius: 2em;
    width: 55%;
    height: 51%;
  }
  /* .title {
    font-size: 1.5rem;
  }
  .dis {
    font-size: 0.9rem;
  } */
}
