.section {
  height: 100%vh
  padding: 3em 3em 5em 3em;
}

.projects_bg {
  background-image: url("/projects_bg.jpg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}
