.outer_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  background-color: red;
  height: 25rem;
  clip-path: circle();
}

.inner_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  background-color: pink;
  /* height: 12.5rem; */
  clip-path: circle();
}
