.app_name {
  text-align: center;
  /* background-color: red; */
}

.content_container {
  /* background-color: aquamarine; */
  width: 87%;
  margin: 0 auto;
  /* position: relative; */
}

.sub_title {
  background-color: aqua;
  margin: 0 0 0 3em;
  padding: 1em 1.5em 0.7em 1.5em;
  display: inline-block;
  border: 1px solid black;
  text-align: end;
}

.policies_container {
  padding: 3em;
  background-color: white;
  /* width: 80%; */
  /* margin: 0 auto; */

  border: 0.5em outset #c0c0c0;
  box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    outset 5px 5px 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

.pilicies_container ::after {
  background-color: red;
  position: absolute;
  top: -1px;
  left: 50%;
  /* transform: translateX(-50%); */
  content: "";
  /* background: #fff; */
  width: 100px;
  height: 1px;
}
