.nav {
  background-color: pink;
}

.nav ul {
  margin: 0;
  padding: 0;

  display: flexbox;
  /* flex-direction: column; */
}

.nav li {
  list-style: none;
  /* display: inline-block; */
  /* margin-right: -4px; */
}
