.header {
  width: 100%;
  background-color: majenta;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 0.5em;
  background-color: #d8d4d1;
  /* background-color: yellow; */
  z-index: 999;
  position: fixed;
}

/* LOGO STYLE IS HERE */
.left {
  width: 8%;
}
.left img {
  /* background-color: red; */
  width: 70%;
}

/* THERE ARE THE RIGHT SIDE NAC BAR ITEMS */
.right {
  /* border: 1px solid red; */

  width: 90%;
}

.nav_corner_flex {
  padding: 0.15em 3em 0 0;

  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* background-color: orange; */
}
.list_item_style {
  /* border: 1px solid red; */
  display: flex;
  padding: 0;
}

.list_item_style ul {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.list_item_style li {
  /* background-color: red; */

  margin: 0 1.5em;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  list-style: none;
  border-bottom: 0.25em solid #d8d4d1;

  /* padding-bottom: 0.7em; */

  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.list_item_style li:hover {
  /* color: #e67112; */
  /* background-color: red; */
  /* border-bottom: 0.25em solid red; */
  transform: scale(1.1);
}

/* mobile open menu nav bar icon */

.mobile_menu_icon {
  display: none;
  /* background-color: aqua; */
  margin-right: 75%;
}

.mobile_nav_container {
  margin-left: 70%;
  /* background-color: pink; */
}

/* 
 *************************************************************************************
 *************************************************************************************
 *************************************************************************************
MEDIA QUERY 
 *************************************************************************************
 *************************************************************************************
 *************************************************************************************
 */

@media (max-width: 625px) {
  .desktop_nav {
    display: none;
  }
  .left {
    width: 100%;
  }
  .left img {
    width: 31%;
  }

  .mobile_menu_icon {
    display: block;
  }
}
