.header {
  background-color: majenta;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 0.5em;
  /* background-color: pink; */
}

/* LOGO STYLE IS HERE */
.left {
  width: 8.5%;
}
.left img {
  /* background-color: red; */
  width: 100%;
}

/* THERE ARE THE RIGHT SIDE NAC BAR ITEMS */
.right {
  /* border: 1px solid red; */

  width: 90%;
}

.nav_corner_flex {
  padding: 0em 3em 0.3em 0;

  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  /* background-color: orange; */
}
.list_item_style {
  /* border: 1px solid red; */
  display: flex;
  padding: 0;
}

.list_item_style ul {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.list_item_style li {
  /* background-color: red; */

  margin: 0 1.5em;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  list-style: none;
  border-bottom: 0.25em solid #d8d4d1;

  /* padding-bottom: 0.7em; */

  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.list_item_style li:hover {
  /* background-color: red; */
  border-bottom: 0.25em solid red;
}

/* 
MEDIA QUERY  *************************************************************************************
 */

@media (max-width: 625px) {
  .desktop_nav {
    display: none;
  }
  .left {
    width: 100%;
  }
  .right {
    background-color: red;
  }

  .ma {
    text-align: end;
    margin-left: 7%;
  }
  .left img {
    width: 45%;
  }
}
