.header {
  background-color: majenta;
  margin-top: 2.5em;
}

.nav {
  max-width: 50%;

  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  /* border: 1px solid black; */

  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-align: center;
  list-style: none;
  /* display: inline-block; */
  /* margin-right: -4px; */
}
