.header {
  background-color: majenta;
  display: flex;
  align-items: center;
  justify-content: left;
  /* background-color: pink; */
}
.left {
  width: 10%;
}
.logo {
  /* background-color: red; */
  width: 100%;
}
.right {
  width: 90%;
}
.nav_corner_flex {
  width: 95%;
  margin: 0 auto;
  padding: 2.9em 0 0.1em 0;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  /* background-color: orange; */
}
.nav {
  border: 1px solid red;
  display: flex;
  /* padding: 2.9em 0 0.1em 0; */
}

.nav ul {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.nav li {
  /* background-color: red; */

  margin: 0 1.5em;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  list-style: none;
  border-bottom: 0.25em solid transparent;
  padding-bottom: 0.3em;

  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}

.nav li:hover {
  /* background-color: red; */
  border-bottom: 0.25em solid red;
}
