.section {
  /* border: 3px solid #ccc; */
  /* background-color: pink; */

  padding: 4rem;
}

.dev_name {
  /* font-size: 2.3rem; */
}

.dev_info {
  /* font-size: 04rem; */
  font-family: "", sans-serif;
  font-weight: bolder;
}
