/* 
***************************************************************
***************************************************************

 this the the menu icon ddisplayed for small devices START

***************************************************************
***************************************************************
  */

/* this icon is shown as menu icon on small devices */
.mobile_menu_icon {
  /* display: none; */
  /* background-color: aqua; */
}

/* this icon is shown inside menu overlay to close menu on small devices */
.menu_close_icon {
  /* width: 100%; */
  position: absolute;
  top: 5%;
  right: 5%;
  justify-content: end;
  /* background-color: red; */
}
.menu_overlay {
  position: absolute;
  bottom: 0;
  right: 0%;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  /* overflow-y: hidden; */
  z-index: 2;
}

.mobile_nav {
  position: absolute;
  /* width: 30%; */
  height: 70%;
  /* background-color: red; */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  /* background-color: red; */
  /* display: none; */
}

.mobile_nav li {
  /* margin: 0 1.5em; */
  padding: 1.5rem 0;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 1.15rem;
  list-style: none;
  /* border-bottom: 0.25em solid #d8d4d1; */

  padding-bottom: 0.3em;
}
/* 
  ***************************************************************
  ***************************************************************
  
   this the the menu icon ddisplayed for small devices END
  
  ***************************************************************
  ***************************************************************
    */

@media (max-width: 625px) {
  .mobile_menu_icon {
    display: block;
  }
}
