.slide {
  width: 70%;

  border-radius: 1em;
}

.photos_slider {
  width: 70%;
  padding: 1.5em 1em;
  background-color: teal;
  margin: 0 auto;

  border-radius: 1em;
  border: 0.31em outset #c0c0c0;
  /* box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); */

  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),
    outset 5px 5px 8px rgba(0, 0, 0, 0.5); */
}

@media (max-width: 464px) {
  .slide {
    width: 100%;
  }

  .photos_slider {
    padding: 0.5em 0.5em;
    /* padding: 0; */
  }
  .slide {
    width: 100%;
  }
}
