.background {
}

.section {
  width: 70%;
}
.card {
  /* border: 1px solid #ccc;
  padding: 5em;
  display: flex;
  background-color: pink; */
}
.image_container {
  background-color: red;
  width: 50%;
  height: 17em;
  border-radius: 50%;
}
/* .image {

  width: 50%;
  border: 0.3em outset #c0c0c0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
} */
