.background {
}

.section {
}
.card {
  border: 1px solid #ccc;
  padding: 5em;
  display: flex;
  background-color: pink;
  flex-direction: column;
  justify-content: center;
}

.image {
  display: block;
  width: 10%;
  /* border: 0.3em outset #c0c0c0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); */
}
