.section {
  display: flex;
  max-width: 75%;
  background-color: pink;
  justify-content: space-evenly;
  margin: 0 auto;
}

.current_project_info {
  background-color: aqua;

  font-size: 1rem;
}

.current_project_logo {
}
