.background {
  /* the background is displaying from projects.js */

  padding-bottom: 5em;
}

.section {
  /* padding-bottom: 3em; */
  display: flex;
  max-width: 75%;
  background-color: #faf1e6;

  justify-content: space-between;
  margin: 0 auto;

  border-radius: 1rem;
  overflow: hidden;

  /* border: 8px outset rgb(205, 205, 205); */
  border: 8px outset #c0c0c0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

/* 
left
here is the clip react
 
 */
.left {
  clip-path: polygon(100% 0, 81% 100%, 0 100%, 0 0);
  /* background-color: purple; */
  color: #faf1e6;
  background-color: teal;
  padding: 2em 2em 5em 2.5em;
  width: 70%;
}
.current_project_info_container {
  /* background-color: burlywood; */
  width: 85%;
}
.current_project_info_container h3 {
  /* background-color: aqua; */
  /* padding-bottom: 1em; */

  font-size: 1.7rem;
}

.current_project_info_container p {
  /* background-color: aqua; */
  text-align: justify;
  font-size: 1rem;
  font-family: "Lato";
  line-height: 1.5;
}

/* progrees bar styles */
.progressBar {
  border-radius: 3rem;
  margin-top: 2.5em;
  margin-bottom: 1.3em;
  width: 25%;
  background-color: white;
  height: 2.3rem;
  overflow: hidden;
  border: 1.65px solid #faf1e6;
}
.progress_tracker {
  /* background-color: green; */
  height: 100%;
}

.progress_bar_container {
  display: flex;
}

.proggress_percentage_flex {
  width: 70%;

  /* background-color: red; */
  display: flex;
}

.status_info_box {
  margin: 0.3em 0.1em;
  font-family: "Lato";
  font-weight: bold;
  font-size: 0.9rem;
  color: teal;
  padding: 0.1em 0.3em;
  background-color: #fff;
}

/* RIGHT */
.right {
  width: 30%;
  /* background-color: pink; */
  position: relative;
}

.right img {
  position: absolute;
  width: 70%;
  left: 43%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*

******************************* *
*           MEDIA QUERY
******************************* *
*/
/* 451px breakpint */
/* 451px breakpint */

@media (max-width: 451px) {
  .section {
    max-width: 95%;

    background-color: teal;
    overflow: hidden;
    /* display: block; */
    display: flex;
    flex-direction: column-reverse;

    border: 0.3em outset #c0c0c0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }
  .left {
    width: 100%;

    /* border-radius: 0 0 1em 1em; */
    clip-path: none;
    /* padding: 2em 2em 5em 2.5em; */
  }

  /* RIGHT */
  .right {
    width: 100%;
    padding: 15%;
    background-color: #faf1e6;
    /* background-color: pink; */
    /* position: relative; */
    overflow: hidden;
  }
  .current_project_logo {
    /* height: 15vh; */
    display: block;
    width: 100%;
    /* background-color: red; */
  }
  .right img {
    display: block;
    /* background-color: red; */
    max-width: 30%;

    position: absolute;
    /* width: 70%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .progressBar {
    width: 50%;
    height: 2rem;
  }

  .current_project_info_container p {
    line-height: 1;
  }
}

@media (min-width: 452px) and (max-width: 899px) {
  .section {
    max-width: 85%;

    background-color: teal;
    overflow: hidden;
    /* display: block; */
    display: flex;
    flex-direction: column-reverse;

    border: 0.3em outset #c0c0c0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }
  .left {
    width: 100%;

    /* border-radius: 0 0 1em 1em; */
    clip-path: none;
    /* padding: 2em 2em 5em 2.5em; */
  }

  /* RIGHT */
  .right {
    width: 100%;
    padding: 15%;
    background-color: #faf1e6;
    /* background-color: pink; */
    /* position: relative; */
    overflow: hidden;
  }
  .current_project_logo {
    /* height: 15vh; */
    display: block;
    width: 100%;
    /* background-color: red; */
  }
  .right img {
    display: block;
    /* background-color: red; */
    max-width: 30%;

    position: absolute;
    /* width: 70%; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .progressBar {
    width: 50%;
    height: 2rem;
  }
}
