.header {
  /* background-color: orange; */
  text-align: center;
}

.category {
  font-family: "Lato";
  color: black;
  border-radius: 1em;
  background-color: #dee4e4;
  padding: 0.5em 4em;
  display: inline-block;
  margin-bottom: 2em;

  border: 0.21em outset #c0c0c0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: #2196f3; */
  padding: 1em 3em;
  column-gap: 1.5em;
  row-gap: 1.5em;

  /* border: 0.21em outset #c0c0c0; */
}
.grid_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1.5em;
  /* font-size: 30px; */
  text-align: center;
}

.yt_video {
  max-width: 50%;
  padding: 0;

  background: orange;
}
.yt_video iframe {
  width: 100%;
}
